<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title>前端基础框架</title>
    <link rel="stylesheet" href="/css/style.min.css" />
</head>
<body>
<div id="voice" class="sn-voice"></div>
<li class="width-all">
    <a class="btn btn-blue fr btnPlay" > 播放</a>
    <a class="btn btn-blue fr btnStop"> 停止</a>
    <a class="btn btn-blue fr btnPause">暂停</a>
    <a class="btn btn-blue fr btnSetMedia"> 设置音频</a>
    <a class="btn btn-blue fr btnVolume"> 设置音量</a>
</li>
<script>
    //解决ie下console.log()报错问题
    window.console = window.console || (function(){
                var c = {};
                c.log = c.warn = c.debug = c.info = c.error = c.time = c.dir = c.profile = c.clear = c.exception = c.trace = c.assert = function(){};
                return c;
            })();
</script>
</body>
</html>
