@charset "UTF-8";

.addDataInfo .addInfo_submit {
	float: right;
    width: 40px;
    text-align: center;
    background-color: #3A8BE0;
	margin-top: 40px;   
}
.addDataInfo .addInfo_reset {
	float: right;
    width: 40px;
    text-align: center;
    background-color: #3A8BE0;
	margin-top: 40px;   
}

.addDataInfo .addInfo_ul{
	 height: 100%;
    padding-top: 10px;
    position: relative;
    width: 98%;
}
.addDataInfo  .addInfo_ul li span{
	display:inline-block;
	width:100px;
	text-align:right;
}
.addDataInfo .addInfo_ul li{
	 margin: 20px 8px 0 0;
	 height: 30px
}
.addDataInfo input{
	 margin-right: 60px; 
    width: 248px;
}
.addDataInfo select{
	width: 248px;
	 margin-right: 60px; 
    
}
.addDataInfo .addInfo_left{
	margin-right: 18px;
}
.addDataInfo .addInfo_right{
	margin-right: 18px;
}
