
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1479259979823'); /* IE9*/
  src: url('iconfont.eot?t=1479259979823#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1479259979823') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1479259979823') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1479259979823#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjia:before { content: "\e748"; }

.icon-fujian:before { content: "\e602"; }

.icon-guanbi01:before { content: "\e68b"; }

.icon-jiantoushang:before { content: "\e6c0"; }

.icon-shoucang:before { content: "\e675"; }

.icon-weiduyoujian:before { content: "\e694"; }

.icon-fav-1:before { content: "\e603"; }

.icon-doc:before { content: "\e699"; }

.icon-pdf:before { content: "\e68f"; }

.icon-jiahao:before { content: "\e61f"; }

.icon-jpg:before { content: "\e84a"; }

.icon-png:before { content: "\e84e"; }

.icon-jiantouxia:before { content: "\e61d"; }

.icon-youjianyidu:before { content: "\e608"; }

.icon-xlsx:before { content: "\e604"; }

.icon-pptx:before { content: "\e605"; }

.icon-rar:before { content: "\e659"; }

.icon-txt:before { content: "\e65c"; }

