@charset "UTF-8";

/* position */
.fn-pr { position:relative; }
.fn-pa { position:absolute; }
.fn-pf { position:fixed; }
.fn-fl { float:left; }

/* text-align */
.fn-left { text-align:left; }
.fn-right { text-align:right; }
.fn-center { text-align:center; }

/* colors */
.fn-high { color:red; }
.fn-gray { color:#aaa; }
.fn-orange { color:#f37800; }
.fn-green { color:#53a000; }

/* font */
.fn-bold { font-weight:700; }
.ft-12 { font-size:12px; }
.ft-14 { font-size:14px; }
.ft-16 { font-size:16px; }
.ft-18 { font-size:18px; }
.ft-24 { font-size:24px; }
.ft-12b { font-size:12px; font-weight:bold; }
.ft-14b { font-size:14px; font-weight:bold; }
.ft-18b { font-size:18px; font-weight:bold; }
.ft-24b { font-size:24px; font-weight:bold; }


/* box */
.fn-inlinBlock { display:inline-block;*display:inline;zoom:1; }

.fn-pd5 { padding:5px; }
.fn-pd10 { padding:10px; }
.fn-mg5 { margin:5px; }
.fn-mg10 { margin:10px; }

/* margin */
.mt-5 { margin-top:5px; }
.mt-10 { margin-top:10px; }
.mt-15 { margin-top:15px; }
.mt-20 { margin-top:20px; }
.mt-30 { margin-top:30px; }
.mt-50 { margin-top:50px; }

.mr-5 { margin-right:5px; }
.mr-10 { margin-right:10px; }
.mr-15 { margin-right:15px; }
.mr-20 { margin-right:20px; }
.mr-30 { margin-right:30px; }
.mr-50 { margin-right:50px; }

.mb-5 { margin-bottom:5px; }
.mb-10 { margin-bottom:10px; }
.mb-15 { margin-bottom:15px; }
.mb-20 { margin-bottom:20px; }
.mb-30 { margin-bottom:30px; }
.mb-50 { margin-bottom:50px; }

.ml-5 { margin-left:5px; }
.ml-10 { margin-left:10px; }
.ml-15 { margin-left:15px; }
.ml-20 { margin-left:20px; }
.ml-30 { margin-left:30px; }
.ml-50 { margin-left:50px; }

/* padding */
.pt-5 { padding-top:5px; }
.pt-10 { padding-top:10px; }
.pt-15 { padding-top:15px; }
.pt-20 { padding-top:20px; }
.pt-30 { padding-top:30px; }
.pt-50 { padding-top:50px; }

.pr-5 { padding-right:5px; }
.pr-10 { padding-right:10px; }
.pr-15 { padding-right:15px; }
.pr-20 { padding-right:20px; }
.pr-30 { padding-right:30px; }
.pr-50 { padding-right:50px; }

.pb-5 { padding-bottom:5px; }
.pb-10 { padding-bottom:10px; }
.pb-15 { padding-bottom:15px; }
.pb-20 { padding-bottom:20px; }
.pb-30 { padding-bottom:30px; }
.pb-50 { padding-bottom:50px; }

.pl-5 { padding-left:5px; }
.pl-10 { padding-left:10px; }
.pl-15 { padding-left:15px; }
.pl-20 { padding-left:20px; }
.pl-30 { padding-left:30px; }
.pl-50 { padding-left:50px; }

/* width&height */
.w100 { width:100px; }
.w200 { width:200px; }
.w300 { width:300px; }
.w400 { width:400px; }
.w500 { width:500px; }
.w600 { width:600px; }

.h30 { height:30px; }
.h35 { height:35px; }
.h40 { height:40px; }
.h80 { height:80px; }
.h120 { height:120px; }